openapi: 3.2.0
info:
  title: Hyperice Storefront Discovery API
  version: 2026-04
  description: 'The public, unauthenticated read surface of the Hyperice online store (hyperice.com), a Shopify-hosted storefront. Every path in this document is one that Hyperice itself publishes to agents in its own `/llms.txt` and `/agents.md` ("Read-Only Browsing (No Authentication Required)"), plus the store-level `/products.json` and `/collections.json` collections observed live. Schemas were derived from real responses fetched on 2026-07-31 — no field is invented.


    This document is an API Evangelist derivation, not a Hyperice-published contract. Hyperice publishes no OpenAPI of its own. The machine-readable contracts Hyperice DOES publish are (a) the Shopify Storefront GraphQL schema, live and introspectable at https://hyperice.com/api/2026-04/graphql.json and captured in `graphql/hyperice-storefront.graphql`, and (b) the UCP shopping service declared at https://hyperice.com/.well-known/ucp and served over MCP at https://hyperice.com/api/ucp/mcp.'
  contact:
    name: Hyperice Customer Support
    url: https://hyperice.com/
  license:
    name: Proprietary
servers:
- url: https://hyperice.com
  description: Hyperice production storefront (US / primary domain)
- url: https://hypericeprod.myshopify.com
  description: Canonical Shopify origin (declared in /.well-known/ucp)
tags:
- name: Discovery
  description: Agent- and crawler-facing discovery documents.
paths:
  /sitemap.xml:
    get:
      operationId: getSitemap
      summary: Get the sitemap index
      description: Sitemap index linking per-locale product, page, collection and blog sitemaps, plus `sitemap_agentic_discovery.xml`, which points at `/agents.md`.
      tags:
      - Discovery
      responses:
        '200':
          description: Sitemap index XML.
          content:
            application/xml:
              schema:
                type: string
  /llms.txt:
    get:
      operationId: getLlmsTxt
      summary: Get the agent instructions (llms.txt)
      description: Hyperice's published agent instructions. Mirrors `/agents.md`. Declares UCP support, the MCP endpoint, and the read-only browsing surface.
      tags:
      - Discovery
      responses:
        '200':
          description: llms.txt document.
          content:
            text/plain:
              schema:
                type: string
  /agents.md:
    get:
      operationId: getAgentsMd
      summary: Get the canonical agent-facing store description
      tags:
      - Discovery
      responses:
        '200':
          description: agents.md document.
          content:
            text/markdown:
              schema:
                type: string
  /.well-known/ucp:
    get:
      operationId: getUcpProfile
      summary: Get the UCP merchant profile
      description: 'Universal Commerce Protocol discovery document: supported versions, service endpoints (the MCP shopping service), capabilities, and payment handlers.'
      tags:
      - Discovery
      responses:
        '200':
          description: UCP merchant profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UcpProfile'
components:
  schemas:
    UcpProfile:
      type: object
      description: Universal Commerce Protocol merchant profile as served at /.well-known/ucp. Saved verbatim at well-known/hyperice-ucp.json.
      properties:
        ucp:
          type: object
          properties:
            version:
              type: string
              example: '2026-04-08'
            supported_versions:
              type: object
              additionalProperties:
                type: string
                format: uri
            services:
              type: object
            capabilities:
              type: object
            payment_handlers:
              type: object
x-evidence:
  fetched: '2026-07-31'
  method: derived
  documented_by:
  - https://hyperice.com/llms.txt
  - https://hyperice.com/agents.md
  probed:
  - url: https://hyperice.com/products.json
    status: 200
    content_type: application/json
  - url: https://hyperice.com/collections.json
    status: 200
    content_type: application/json
  - url: https://hyperice.com/products/open-box-hypervolt-go-3.json
    status: 200
    content_type: application/json
  - url: https://hyperice.com/collections/accessories/products.json
    status: 200
    content_type: application/json
  - url: https://hyperice.com/products/does-not-exist-xyz.json
    status: 404
    content_type: application/json
  platform: Shopify
